<%-include('../common/header')%>
<div class="container">
    <div class="row">
        <div class="col-xl-6">
            <h1>Category Page</h1>
            <!-- <%=categoryData%> -->
            <!-- <%=brandData%> -->
            <form id="product-form">
                <ul>
                    
                    <li>Product name</li>
                    <li>
                        <input type="text" name="name" class="form-control">
                    </li>

                    <li>Product price</li>
                    <li>
                        <input type="text" name="price" class="form-control">
                    </li>

                    <li>Product discount</li>
                    <li>
                        <input type="text" name="discount" class="form-control">
                    </li>

                    <li>Select Category</li>
                    <li>
                        <select name="categoryid" id="" class="form-control">
                            <% categoryData.forEach(function(obj){ %>
                                <option value="<%= obj._id%>">
                                    <%= obj.name%>
                                </option>
                            <% }) %>
                        </select>
                    </li>

                    <li>Select brand</li>
                    <li>
                        <select name="brandid" id="" class="form-control">
                            <% brandData.forEach(function(obj){ %>
                                <option value="<%= obj._id%>">
                                    <%= obj.name%>
                                </option>
                            <% }) %>
                        </select>
                    </li>

                    <li>Image</li>
                    <li>
                        <input type="file" name="imgpath" class="form-control">
                    </li>
                    
                    
                    <li>
                        <input type="button" id="product-btn" value="Add product">
                    </li>
                </ul>
                </form>
                <p id="err_msg_product"></p>
        </div>
       
    </div>
</div>
<%-include('../common/footer')%>